OPENAI_API_KEY = ''

### Embeddings ###
PERSIST_CHROMADB_FOLDER = 'db/dbchroma'

### File manager ###
PATH_TO_UPLOAD_FOLDER = 'files/uploads'
FILES_TYPES = ['.pdf', '.docx', '.txt']

CHUNK_SIZE = 3000
CHUNK_OVERLAP = 40
# current_dir = os.path.dirname(__file__)
# upload_directory = os.path.join(current_dir, "../../uploads")

# Langsmith
LANGCHAIN_TRACING_V2 = true
LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"
LANGCHAIN_API_KEY = ""
LANGCHAIN_PROJECT = "chatbot_embebido"