# Backend
fastapi==0.115.2
uvicorn==0.31.1

# LLM Orchestrator
langchain==0.3.3
langchain-openai==0.2.2
langchain_community==0.3.2

# Vectorial Database
chromadb==0.5.13
langchain-chroma==0.1.4

# Variable environment
python-dotenv==1.0.1

# File upload
python-multipart==0.0.12

# Libraries
pypdf==5.0.1
fpdf==1.7.2

# HTTP requests 
requests==2.32.3

# Templates
jinja2==3.1.5

# Encriptación
bcrypt==4.2.1

# Seguridad
itsdangerous==2.2.0