body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #064686;
    padding: 15px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a i {
    margin-right: 10px;
}

.sidebar nav ul li ul {
    margin-left: 20px;
    margin-top: 5px;
}

.sidebar nav ul li ul li {
    margin-bottom: 5px;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
}
